<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-light bg-blue py-3">
    <div class="container">
      <a class="navbar-brand mr-4 text-green" href="{% url 'home' %}"><i class="fa-solid fa-cross"></i> Church Photo Board Maker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link text-green" href="{% url 'home' %}">Home</a>
          <!-- <a class="nav-item nav-link" href="">Browse</a> -->
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav d-flex align-items-center">
          <a class="nav-item nav-link text-green" href="#>test <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </div>
  </nav>
</header>
