/* Global */
* {
  box-sizing: border-box;
}

body {
  /* color: #333333;
  background-color: #E6EFF4;
  font-family: sans-serif; */
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Old Standard TT', serif; */
  font-family: 'Merriweather', serif;
}

body {
  /* background-color: #f8f9fa; */
}
