{% extends "photomaker/base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">

      <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Member</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Councilman</label>
      </div>

      <div class="mb-3">
        <label for="familyNameInput" class="form-label">Family Name</label>
        <input type="text" class="form-control userInput" id="familyNameInput" placeholder="Luther">
      </div>
  
      <div class="mb-3">
        <label for="parentsInput" class="form-label">Parents</label>
        <input type="text" class="form-control userInput" id="parentsInput" placeholder="Martin & Katie">
      </div>
  
      <div class="mb-3">
        <label for="childrenInput" class="form-label">Children</label>
        <textarea class="form-control userInput" id="childrenInput" rows="6" placeholder="Hans&#10;Elizabeth&#10;Magdalene&#10;Martin&#10;Paul&#10;Margaret"></textarea>
      </div>

      <button type="submit" class="btn btn-success" id="downloadButton" disabled="true" onclick="downloadMemberPhoto()">Download</button>
      
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-center">

        <div>
          <div id="photo-template">
            <div class="safe-area">
              <div class="photo-area">
  
                <img id="image" src="" crossOrigin​="​anonymous​">
    
              </div>
              <div class="text-area">
                <div class="family-name">Luther</div>
                <div class="text-spacer">&nbsp;</div>
                <div class="parents">Martin & Katie</div>
                <div class="text-spacer">&nbsp;</div>
                <div class="children">
                  Hans<br>
                  Elizabeth<br>
                  Magdalene<br>
                  Martin<br>
                  Paul<br>
                  Margaret
                </div>
              </div>
            </div>
          </div>
  

          <div class="form-group">
            <label for="imageUpload" class="form-label mt-4">Upload an image</label>
            <input class="form-control" type="file" id="imageUpload" accept="image/*">
          </div>

          <div class="mt-3 btn-group" role="group">
            <button id="zoomInBtn" class="btn btn-primary"><i class="fas fa-search-plus"></i></button>
            <button id="zoomOutBtn" class="btn btn-primary"><i class="fas fa-search-minus"></i></button>
            
            <button id="toggleGuides" class="btn btn-primary"><i class="fas fa-ruler"></i> Guides</button>
          </div>

        </div>

      </div>  
    </div>
    <div class="col-md-3">
      <fieldset class="form-group">
        <legend class="d-flex align-items-baseline justify-content-between">
          Adjustments
          <div>
            <button type="button" class="btn btn-secondary pe-0 adjustmentIconButtons" id="previewChanges" style="visibility: hidden;"><i class="fas fa-eye"></i></button>
            <button type="button" class="btn btn-secondary pe-0 adjustmentIconButtons" id="resetAdjustments" style="visibility: hidden;"><i class="fas fa-rotate-left"></i></button>
          </div>
        </legend>
        <label for="brightnessSlider" class="form-label">Brightness</label>
        <input type="range" class="form-range adjustmentSlider" id="brightnessSlider" min="50" max="150" step="1" value="100">
        <label for="contrastSlider" class="form-label">Contrast</label>
        <input type="range" class="form-range adjustmentSlider" id="contrastSlider" min="75" max="125" step="1" value="100">
        <label for="saturateSlider" class="form-label">Saturation</label>
        <input type="range" class="form-range adjustmentSlider" id="saturateSlider" min="75" max="125" step="1" value="100">
        <label for="hueRotateSlider" class="form-label">Color Shift</label>
        <input type="range" class="form-range adjustmentSlider" id="hueRotateSlider" min="-25" max="25" step="1" value="0">
      </fieldset>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  // Family Name field live update
  $('#familyNameInput').on('input', function() {
    var familyName = $(this).val();
    $('.family-name').text(familyName);
  });

  // Parents field live update
  $('#parentsInput').on('input', function() {
    var parents = $(this).val();
    $('.parents').text(parents);
  });

  // Children field live update
  $('#childrenInput').on('input', function() {
    var children = $(this).val().split('\n').join('<br>');
    $('.children').html(children);
  });

  $('.userInput').on('input', function() {
    var familyName = $('#familyNameInput').val().trim();
    var parents = $('#parentsInput').val().trim();
    var children = $('#childrenInput').val().trim();

    if (familyName !== '' && parents !== '' && children !== '') {
      $('#downloadButton').prop("disabled", false);
    } else {
      $('#downloadButton').prop("disabled", true);
    }
  });

  $('#imageUpload').on('change', function() {
    var file = this.files[0];
    var reader = new FileReader();
    

    reader.onload = function(event) {
      console.log(event.target.result)
      // $('#image').attr('src', event.target.result);
      cropper.replace(event.target.result);
      $('#photo-template').addClass('guides');
      resetAdjustments()
    };

    reader.readAsDataURL(file);
  });

  $('#toggleGuides').click(function() {
    $('#photo-template').toggleClass('guides');
  });

  var brightnessValue = 100
  var contrastValue = 100
  var saturateValue = 100
  var hueRotateValue = 0

  function updateAllAdjustments() {
    brightnessValue = $('#brightnessSlider').val();
    contrastValue = $('#contrastSlider').val();
    saturateValue = $('#saturateSlider').val();
    hueRotateValue = $('#hueRotateSlider').val();
    $('.cropper-canvas img').css('filter', 'brightness('+brightnessValue+'%) contrast('+contrastValue+'%) saturate('+saturateValue+'%) hue-rotate('+hueRotateValue+'deg)')
  }

  $('#previewChanges').on('mousedown', function() {
    $('.cropper-canvas img').css('filter', '')    
  });

  $('#previewChanges').on('mouseup', function() {
    $('.cropper-canvas img').css('filter', 'brightness('+brightnessValue+'%) contrast('+contrastValue+'%) saturate('+saturateValue+'%) hue-rotate('+hueRotateValue+'deg)')    
  });

  $('.adjustmentSlider').on('input', function() {
    updateAllAdjustments()
    updateResetButtonVisibility()
  });

  $('#resetAdjustments').click(function() {
    resetAdjustments()
  })

  // Reset slider handle on double-click
  $('.adjustmentSlider').on('dblclick', function() {
    var startingValue = $(this).attr('value');
    $(this).val(startingValue);
    updateAllAdjustments()
    updateResetButtonVisibility()
  });

  function updateResetButtonVisibility() {
    if (brightnessValue == 100 && contrastValue == 100 && saturateValue == 100 && hueRotateValue == 0) {
      $('.adjustmentIconButtons').css('visibility', 'hidden');
    } else {
      $('.adjustmentIconButtons').css('visibility', 'visible');
    }
  }

  function resetAdjustments() {
    $('#brightnessSlider').val('100').trigger('input');
    $('#contrastSlider').val('100').trigger('input');
    $('#saturateSlider').val('100').trigger('input');
    $('#hueRotateSlider').val('0').trigger('input');
  }
});

function downloadMemberPhoto() {
  $('#photo-template').removeClass('guides');
  htmlToImage.toJpeg(document.getElementById('photo-template'), { quality: 1 })
  .then(function (dataUrl) {
    var link = document.createElement('a');
    link.download = 'member-photo.jpg';
    link.href = dataUrl;
    link.click();
  });
}

const image = document.getElementById('image');
const cropper = new Cropper(image, {
  viewMode: 3,
  dragMode: 'move',
  guide: false,
  background: false,
  autoCrop: false,
  autoCropArea: 1,
  cropBoxMovable: false,
  cropBoxResizable: false,
  guides: false,
  center: false,
  highlight: false,
});

const zoomInBtn = document.getElementById('zoomInBtn');
const zoomOutBtn = document.getElementById('zoomOutBtn');

zoomInBtn.addEventListener('click', function() {
  cropper.zoom(0.1);
});

zoomOutBtn.addEventListener('click', function() {
  cropper.zoom(-0.1);
});

</script>

{% endblock content %}
